
@model User



<div class="form-group">
    <label asp-for="EmailID">Email Id:</label>
    <input asp-for="EmailID" class="form-control" />

</div>
<div class="form-group">
    <label asp-for="Password">Password:</label>
    <input asp-for="Password" class="form-control" />

</div>

<div class="form-group">
    <label asp-for="FirstName">First name:</label>
    <input asp-for="FirstName" class="form-control" />

</div>
<div class="form-group">
    <label asp-for="LastName">Last name:</label>
    <input asp-for="LastName" class="form-control" />
</div>


